<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Index</title>

    <link rel="stylesheet" href="{% static 'sortir/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'sortir/css/style.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a id='Logo' class="navbar-brand">
        <img  src="{% static 'sortir/img/sortie.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Sortir.com
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active" id='Accueil' onclick='changerPage($(this))'>
                <a class="nav-link "  >Accueil</a>
            </li>
            <li  class="nav-item" id='Profil'  onclick='changerPage($(this))'>
                <a  class="nav-link" >Mon Profil</a>
            </li>
             <li  class="nav-item" id='Villes'  onclick='changerPage($(this))'>
                <a  class="nav-link">Villes</a>
            </li>
                 <li  class="nav-item" id='Sites'  onclick='changerPage($(this))'>
                <a  class="nav-link">Sites</a>
            </li>
            <li class="nav-item" id='Participants'  onclick='changerPage($(this))'>
                <a  class="nav-link">Participants</a>
            </li>
            <li class="nav-item" id='Deconnexion'  onclick='changerPage($(this))'>
                <a  class="nav-link">Se déconnecter </a>
            </li>
            <li id='AfficherProfil_3'  onclick='changerPage($(this))'>
                <a  class="nav-link">Afficher Profil</a>
            </li>
            <li id='AfficherSortie_3'  onclick='changerPage($(this))'>
                <a  class="nav-link">Afficher Sortie</a>
            </li>
        </ul>
    </div>
</nav>
<div id="contenu">

</div>
    <script src="{% static 'sortir/js/jquery-3.4.1.min.js '%}"></script>
    <script src="{% static 'sortir/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'sortir/js/fonctions.js '%}"></script>
</body>
</html>