<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-md-3 offset-1" id="profil_img">
            <a href="https://placeholder.com"><img src="https://via.placeholer.com/200"></a>
        </div>
        <div class="col-sm-10 col-md-4 offset-sm-1 offset-md-0" id="profil_detail">
            <h2>Placeholder</h2>
            <form>
                <div class="row">
                    <div class="col-6">
                        <label>Pseudo :</label>
                        <label>Prénom :</label>
                        <label>Nom :</label>
                        <label>Téléphone :</label>
                        <label>Email :</label>
                        <label>Mot de passe  :</label>
                        <label>Confirmation :</label>
                        <label>Ville de rattachement : </label>
                        <label>Ma photo :</label>
                    </div>
                    <div class="col-6">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>