.nav-item :hover{
    cursor: pointer;
}

.my-custom-scrollbar {
position: relative;
height: 350px;
overflow: auto;
}

.table-wrapper-scroll-y {
display: block;
}


div[id^="AfficherProfil"] :hover{
    cursor: pointer;
    text-decoration: underline;
}

*[id^="AfficherSortie"] :hover{
    cursor: pointer;
    text-decoration: underline;
}